doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      .nav_bar
        a(href="https://unresolvedcase7.github.io/puzzle1/" )
          | الرئيسية
        a(href="https://unresolvedcass.com/") شراء قضية
        a(href="https://unresolvedcase7.github.io/documents/" style={ color: "#c22735" }) مستند ناقص
  div
    .background
    h1 مستند ناقص
    block content

  footer
    .footer_list
      ul
        li
          span
          a(href="https://unresolvedcase7.github.io/puzzle1/") الرئيسية
        li
          span
          a(href="https://unresolvedcass.com/") شراء قضية
        li
          span
          a(href="https://unresolvedcase7.github.io/documents/") مستند ناقص

    p.footer_p_mb
      | الاهتمام بالتفاصيل الصغيرة هو السبيل الوحيد لحل أصعب القضايا

    .social_container_mb
      p تابعنا عبر مواقع التواصل الاجتماعي
      .social_links
        a(href="https://youtube.com/channel/UCppzhcAxtubamEPzfKEnHSg" target="_blank" rel="noreferrer")
          img(src="/images/social/youtube.png", alt="")
        a(href="https://instagram.com/unresolved_cass?igshid=YmMyMTA2M2Y=" target="_blank" rel="noreferrer")
          img(src="/images/social/insta.png", alt="")
        a(href="https://twitter.com/unresolved_cass?s=11&t=UK-0AXfs2xWnbqe16c5y2g" target="_blank" rel="noreferrer")
          img(src="/images/social/twitter.png", alt="")
        a(href="https://www.snapchat.com/add/unresolved_cass?share_id=QTg2ODRBQjktMTdDOC00NTJCLTg2QUItMEI0N0Y5NUVDMDIw&locale=en_SA@calendar=gregorian" target="_blank" rel="noreferrer")
          img(src="/images/social/snap.png", alt="")
        a(href="https://vt.tiktok.com/ZSdwBjnbk/" target="_blank" rel="noreferrer")
          img(src="/images/social/tictok.png", alt="")
      p.public_mb جميع الحقوق محفوظة لموقع قضية لم تحل 2022

    .mid_col
      p.footer_p
        | الاهتمام بالتفاصيل الصغيرة هو السبيل الوحيد لحل أصعب القضايا
      .social_container
        p تابعنا عبر مواقع التواصل الاجتماعي
        .social_links
          a(href="https://youtube.com/channel/UCppzhcAxtubamEPzfKEnHSg" target="_blank" rel="noreferrer")
            img(src="/images/social/youtube.png", alt="")
          a(href="https://instagram.com/unresolved_cass?igshid=YmMyMTA2M2Y=" target="_blank" rel="noreferrer")
            img(src="/images/social/insta.png", alt="")
          a(href="https://twitter.com/unresolved_cass?s=11&t=UK-0AXfs2xWnbqe16c5y2g" target="_blank" rel="noreferrer")
            img(src="/images/social/twitter.png", alt="")
          a(href="https://www.snapchat.com/add/unresolved_cass?share_id=QTg2ODRBQjktMTdDOC00NTJCLTg2QUItMEI0N0Y5NUVDMDIw&locale=en_SA@calendar=gregorian" target="_blank" rel="noreferrer")
            img(src="/images/social/snap.png", alt="")
          a(href="https://vt.tiktok.com/ZSdwBjnbk/" target="_blank" rel="noreferrer")
            img(src="/images/social/tictok.png", alt="")
      p.public جميع الحقوق محفوظة لموقع قضية لم تحل 2022

    .footer_image
      img(src="/images/mask.png", alt="")
